@model Contato
@{
    ViewData["Title"] = "Editar Contato";
}
<div>
    
     <form asp-action="Edit" asp-controller="Contato" method="post">
         <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label for="exampleInputEmail1">Nome</label>
                <input type="text" class="form-control" asp-for="Nome" placeholder="Preencha com seu nome">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Email</label>
                <input type="email" asp-for="Email" class="form-control" placeholder="Preencha com seu Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Telefone</label>
                <input class="form-control" asp-for="Telefone" placeholder="Preencha com seu numero">
            </div>
           
        <button type="submit"  class="btn btn-primary">Alterar</button>
        <a role="button" class="btn btn-success" asp-action="Index" asp-controller="Contato"> Voltar</a>
    </form>
</div>

